{% extends "_base.htm" %}

{% block title %}
    Learning Task
{% endblock%}

{% block bodycontent %}

<!-- happy: &#x1F600 -->
<!-- sad: &#x1F922 -->

<!-- TODOS: put in sliders for data, switch sides for slider faces when you need to-->


<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text" name="story" style="display:none">Medication Task</p>
                <p class="navbar-text" name="monetary" style="display:none">Shape Task</p>
            </div>
        </div>
    </nav>


    <div id="containerDiv" style="width:800px; display: none" class="container well">
        <div class="section">
            <div class="row" id="taskDisplay">
                <div class="col-xs-8" class="text-center">
                    <div id="effectDiv" class="text-center">
                        <h2><span name="story">Patient Number <span name="patientNumber">1</span></span>
                            <span name="monetary">Trial Number <span name="patientNumber">1</span></span>
                        </h2>
                        <!-- find a place for the patient impact info here -->
                        <div>
                            <p name="story">The patient's outcome was <span name="outcomeSpan">BAD</span>.</p>
                            <p name="monetary">Shape 1 is a <span id="var2_feedback">SHAPE NAME</span>.</p>
                        </div>

                        <div class="text-center" style="height:100px; border-bottom: 1px solid grey"> <!-- this is the div that we want split up vertically -->
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4 text-center">
                                <div id="var2_outcome">
                                    <img id"var2_outcome_Image" src="/static/images/good.png" style="height:70px"/>
                                </div>

                            </div>

                            <div id="outcomePercentageText" class="col-xs-4 text-left">
                                <p style="font-size: 14pt"><span id="outcomePercentageSpan">-3 cents!</span></p>
                            </div>

                        </div>


                        <p id="v2_Prompt">
                            <span name="story">Was the patient's outcome <span name="var2a">GOOD</span> or <span name="var2b">BAD</span>?</span>
                            <span name="monetary">Is Shape 1 a <span name="var2a">SHAPE NAME 1</span> or a <span name="var2b">SHAPE NAME 2</span>?</span>
                        </p>


                        <div id="effectClick" style="height:50px" class="row">

                            <div id="var2a" class="col-xs-5" style="height:100px">
                                <div id="var2a_Click" class="text-center" style="height:100px">
                                    <img name="var2a_image" src="/static/images/bad.png" style="height:66%; position:relative; top:15px"/>
                                </div>
                            </div>
                            <div id="leftBorderDiv" class="col-xs-1" style="border-right: 1px solid black; height:50px"></div>
                            <div id="rightBorderDiv" style="height:50px" class="col-xs-1"></div>
                            <div id="var2b" class="col-xs-5">
                                <div id="var2b_Click" class="text-center" style="height:100px">
                                    <img name="var2b_image" src="/static/images/good.png" style="height:66%; position:relative; top:15px"/>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div id="causeDiv" class = "text-center">
                        <p id="v1_Prompt">
                            <span name="story">Guess whether the patient received <span name="var1a">Drug A</span> or <span name="var1b">Drug B</span>?</span>
                            <span name="monetary">Guess whether Shape 2 is a <span name="var1a">SHAPE NAME 1</span> or <span name="var1b">SHAPE NAME 2</span>?</span>
                        </p>
                        <div class = "row" id="pillDiv" style="height:75px">
                            <div id="var1a" class="col-xs-5 text-center" style="height:100px">
                                <p><span name="var1a">Drug A</span></p>
                                <img name="var1b_image" src="/static/images/LightBlue.png" style="width:100px"/>
                            </div>
                            <div class = "col-xs-2 text-center">
                                <div style="height:10px"></div>
                                <div id="feedbackDiv" class="text-center" style="font-size: 10pt; padding:0px; height:75px"></div>
                            </div>
                            <div id="var1b" class="col-xs-5 text-center" style="height:100px">
                                <p><span name="var1b">Drug B</span></p>
                                <img name="var1b_image" src="/static/images/DarkBlue.png" style="width:100px"/>

                            </div>
                        </div>





                        <div style="height:20px"></div>
                        <div id="feedbackButtonDiv" style="visibility: hidden">
                            <button id="feedbackButton">Next</button>
                        </div>
                    </div>
                </div>
                <div id="scoreDiv" class="col-xs-4 text-center">

                    <p><b>Current bonus:</b></p>
                    <div id="totalBonusDiv" class="scoreDisplay">
                        $<span id="totalBonusSpan">1.00</span>
                    </div>
                </div>
            </div>
        </div>




        <!-- ajax form to send tbt data to datastore -->
        <form id="dataform" method="post" action="/task">
            <input id="timeInput" name="timeInput" type="hidden">
            <input id="attentionFailsInput" name="attentionFailsInput" type="hidden">
            <input id="trialInput" name="trialInput" type="hidden">
            <input id="guessInput" name="guessInput" type="hidden">
            <input id="correctInput" name="correctInput" type="hidden">
            <input id="leftSliderInput" name="leftSliderInput" type="hidden">
            <input id="rightSliderInput" name="rightSliderInput" type="hidden">
            <input id="profitImpactInput" name="profitImpactInput" type="hidden">
            <input id="runningBonusInput" name="runningBonusInput" type="hidden">
            <input id="trialNumberInput" name="trialNumberInput" type="hidden">
            <input id="reloadsInput" name="reloadsInput" type="hidden">


                <!-- data[13] -->
            <input id="Submit" onclick="mySubmit()" value="Submit" type="hidden">
        </form>

        <!-- form to advance to scenario -->
        <form id="submitForm" method="post" action="/scenario" class="hidden">
            <input type="submit" value="" class="hidden"/>
        </form>

    </div>







</body>






<script>

// NOTE:
// var1 is the second row (it's the drug in the story conditions)
// var2 is always the first row (it's the outcome in the story conditions)

// $(document).ready(function(){



    var main = {
        // main should be the tbt part.

        init: function(){
            // variables
            // main.trialNumber = {{trialNumber}}
            main.trialNumber = 1

            main.condition = '{{condition}}' // story, monetary, combined
            // main.condition = 'story' // testing



            if(main.condition == 'story'){
                main.rewardAmount = 0
            }else{
                main.rewardAmount = {{rewardAmount}}
            }

            main.position1 = {{position1}}
            main.frequency1 = {{frequency1}}

            main.position2 = {{position2}}
            main.frequency2 = {{frequency2}}

            // testing:
            main.position1 = 0
            main.frequency1 = 0
            main.position2 = 0
            main.frequency2 = 0



            if(main.position2 === main.frequency2){
                main.valence = 'rare-positive'
            }else{
                main.valence = 'rare-negative'
            }

            console.log('VALENCE: '+main.valence)
            // track number of reloads
            if(main.trialNumber == 0){
                main.reloads = {{reloads}}
            }else{
                main.reloads = {{reloads}}+1
            }

            //console.log('TRIALNUMBER: '+String(main.trialNumber))
            // main.trialNumber = 47 // testing

            main.lengthOfData = 48

            if(main.trialNumber >= main.lengthOfData){
                test.init()
            }

            main.accuracyBonusAmt = 3
            main.drugNames = ['XF702', 'BT339', 'GS596', 'PR242']
            main.drugs = {{drugs}}

            main.shapeNames = ['SQUARE', 'CIRCLE', 'STAR', 'TRIANGLE', 'OVAL', 'DIAMOND', 'RECTANGLE', 'PENTAGON']
            main.shapes = {{shapeNames}}

            main.shapeSources = ['/static/images/square.png',
                '/static/images/circle.png',
                '/static/images/star.png',
                '/static/images/triangle.png',
                '/static/images/oval.png',
                '/static/images/diamond.png',
                '/static/images/rectangle.png',
                '/static/images/pentagon.png']


            if(main.condition == 'monetary'){
                main.var1a = String(main.shapeNames[main.shapes[0]])
                main.var1b = String(main.shapeNames[main.shapes[1]])
                main.var2a = String(main.shapeNames[main.shapes[2]])
                main.var2b = String(main.shapeNames[main.shapes[3]])

                main.var1a_img_src = main.shapeSources[main.shapes[0]]
                main.var1b_img_src = main.shapeSources[main.shapes[1]]
                main.var2a_img_src = main.shapeSources[main.shapes[2]]
                main.var2b_img_src = main.shapeSources[main.shapes[3]]

            }else{
                // drug = ['blue', 'green', 'orange', 'purple']
                // drugColors = [0,1,2,3]
                main.colors = {{drugColors}} // this is the order from the backend, something like [3,1]

                main.drugColors = ['/static/images/LightBlue.png',
                    '/static/images/DarkBlue.png',
                    '/static/images/Orange.png',
                    '/static/images/Purple.png']

                main.var1a_img_src = String(main.drugColors[main.colors[0]])
                main.var1b_img_src = String(main.drugColors[main.colors[1]])

                main.var1a = String(main.drugNames[main.drugs[0]])
                main.var1b = String(main.drugNames[main.drugs[1]])

                // default for "bad" is on the left
                if(main.position2 == 0){
                    main.var2a = 'BAD'
                    main.var2b = 'GOOD'

                    main.var2a_img_src = '/static/images/bad.png'
                    main.var2b_img_src = '/static/images/good.png'
                }else{
                    main.var2a = 'GOOD'
                    main.var2b = 'BAD'

                    main.var2a_img_src = '/static/images/good.png'
                    main.var2b_img_src = '/static/images/bad.png'
                }
            }

            // main.shape1a = main.shapeNames[main.shapes[0]]
			// main.shape1b = main.shapeNames[main.shapes[1]]
			// main.shape2a = main.shapeNames[main.shapes[2]]
			// main.shape2b = main.shapeNames[main.shapes[3]]


            main.paradigmData = {{v2_Data}}


            // main.v1_Position denotes which drug is on the left vs right.
            // 0 is the default; "Drug A" is on the left (whichever drug that is)
            // 5/15/18 YOU ARE HERE


            // main.position is complicated...In both of the data files, 0 is the most common drug ID (Drug A). If main.position is zero, 1 becomes the most common drug ID in the data. Either way, we think of "Drug A" as the common drug, in keeping with "Group A" in the literature. What I've done here (might be a mistake, because it's a little confusing) is to always call the drug on the left side of the screen "Drug A". So Drug A here (and in the final judgment page) is just the drug that was on the left, NOT the most common drug. If main.position = 0, the drug on the left is more common. If main.position = 1, the drug on the right is more common.

            // main.position = 1 // testing
            // main.v1_Data = main.dataSetup(main.position1) // I don't think we need this anymore

            main.scenario = {{scenario}}

            main.assets = 100

            if(main.valence == 'rare-positive'){
                if(main.paradigmData[main.trialNumber] === 0){ // common outcome
                    main.assets -= main.rewardAmount
                }else{
                    main.assets += main.rewardAmount
                }
            }else if(main.valence == 'rare-negative'){
                if(main.paradigmData[main.trialNumber] === 0){ // common outcome
                    main.assets += main.rewardAmount
                }else{
                    main.assets -= main.rewardAmount
                }
            }

            main.accuracyBonus = 0
            main.guesses = new Array()
            main.attentionFails = 0 // resets every trial



            console.log('position 1: '+String(main.position1))
            console.log('frequency 1: '+String(main.frequency1))
            console.log('position 2: '+String(main.position2))
            console.log('frequency 2: '+String(main.frequency2))

            // weird out of place thing that is really terrible in practice... #don'tTryThisAtHome
            // find another way to do this because now it's messing other stuff up.
            if(main.position2 == 1){ // switch left and right faces
                // $('#rightFace').html('<div id="var2a_Click" class="text-center">'+
                //     '<img src="/static/images/good.png" style="height:50px"/>'+
                //     '</div>')
                // $('#leftFace').html('<div id="var2b_Click" class="text-center">'+
                //     '<img src="/static/images/bad.png" style="height:50px"/>'+
                //     '</div>')
                //
                // // switch slider images
                // $('#leftRangeLeftImg').attr('src','/static/images/bad.png')
                // $('#leftRangeRightImg').attr('src','/static/images/good.png')
                // $('#rightRangeLeftImg').attr('src','/static/images/bad.png')
                // $('#rightRangeRightImg').attr('src','/static/images/good.png')
                //
                // // $('#v2_Prompt').text('Was this patient\'s outcome BAD or GOOD?')
                // $('[name="var2a"]').text('NAME 2')
                // $('[name="var2b"]').text('NAME 1')
            }



            // cache DOM
            main.cacheDOM()
            main.cacheDOM()

            // bind events (effect only)
            main.bindEvents(0)

            // render page
            main.render('reset')
            main.getTrialStartTime()
        },

        dataSetup: function(position){
            // This function reverses the left/right drug positions on the screen if necessary.
            // It reverses the positions by simply switching all of the group IDs.
            // So on a given trial, if a patient would usually get Drug A (0), they get Drug B (1)

            if(position === 0){
                return({{v1_Data}})
            }else{
                var dummy = {{v1_Data}}
                var v1_Data = new Array()
                // reverse code group data
                for(var i = 0; i < dummy.length; i++){
                    if(dummy[i] === 1){
                        v1_Data.push(0)
                    }else{
                        v1_Data.push(1)
                    }
                }
                return(v1_Data)
            }
        },

        cacheDOM: function(){
            // this function saves the DOM searches, so we only have to search the DOM once.

            main.$co = $('#containerDiv') // container div
            main.$storyDiv = $('[name="story"]')
            main.$monetaryDiv = $('[name="monetary"]')

            main.$patientImpact = main.$co.find('#patientImpact')
            // main.$treatmentBonusSpan = main.$co.find('#treatmentBonusSpan')
            // main.$accuracyBonusSpan = main.$co.find('#accuracyBonusSpan')
            main.$totalBonusSpan = main.$co.find('#totalBonusSpan')

            main.$var2_outcome = main.$co.find('#var2_outcome')
            // main.$choiceRow = main.$co.find('#choiceRow')
            main.$outcomeSpans = main.$co.find('span[name=outcomeSpan]')
            main.$outcomePercentageSpan = main.$co.find('#outcomePercentageSpan')

            main.$var1a_Spans = $('span[name=var1a]')
            main.$var1b_Spans = $('span[name=var1b]')
            main.$var2a_Spans = $('span[name=var2a]')
            main.$var2b_Spans = $('span[name=var2b]')

            main.$leftDrug = main.$co.find('#leftDrug')
            main.$rightDrug = main.$co.find('#rightDrug')

            // // the actual sliders
            // main.$leftRange = main.$co.find('#leftRange')
            // main.$rightRange = main.$co.find('#rightRange')
            //
            // // the slider containers
            // main.$rangeLeft = main.$co.find('#rangeLeft')
            // main.$rangeRight = main.$co.find('#rangeRight')

            main.$feedbackDiv = main.$co.find('#feedbackDiv')
            main.$feedbackButton = main.$co.find('#feedbackButton')
            main.$feedbackButtonDiv = main.$co.find('#feedbackButtonDiv')

            main.$buttonRow = main.$co.find('#buttonRow')
            main.$displayDiv = main.$co.find('#displayDiv')
            main.$effectImage = main.$co.find('#effectImage')

            // main.$effectiveEmoji = main.$co.find('#effectiveEmoji')
            // main.$ineffectiveEmoji = main.$co.find('#ineffectiveEmoji')

            // spans
            main.$patientNumber = main.$co.find('span[name=patientNumber]')

            // form
            main.$timeInput = main.$co.find('#timeInput')
            main.$attentionFailsInput = main.$co.find('#attentionFailsInput')
            main.$trialInput = main.$co.find('#trialInput')
            main.$guessInput = main.$co.find('#guessInput')
            main.$correctInput = main.$co.find('#correctInput')
            main.$profitImpactInput = main.$co.find('#profitImpactInput')
            main.$trialNumberInput = main.$co.find('#trialNumberInput')
            main.$reloadsInput = main.$co.find('#reloadsInput')
            main.$dataform = main.$co.find('#dataform')

            main.$causeDiv = main.$co.find('#causeDiv')

            main.$feedbackDrugName = main.$co.find('#feedbackDrugName')
            main.$var1a = main.$co.find('#var1a')
            main.$var1b = main.$co.find('#var1b')
            main.$v1_Prompt = main.$co.find('#v1_Prompt')


            main.effectDiv = main.$co.find('#effectDiv')
            main.$patientImpact = main.$co.find('#patientImpact')
            main.$outcomeSpans = main.$co.find('span[name=outcomeSpan]')
            main.$outcomePercentageSpan = main.$co.find('#outcomePercentageSpan')
            main.$feedbackButton = main.$co.find('#feedbackButton')
            main.$effectClick = main.$co.find('#effectClick') // this is the whole bottom left div
            main.$v2_Prompt = main.$co.find('#v2_Prompt')


            // "buttons"
            main.$var2a_Click = main.$co.find('#var2a_Click')
            main.$var2b_Click = main.$co.find('#var2b_Click')

            main.$var1aDiv = main.$co.find('#var1a')
            main.$var1bDiv = main.$co.find('#var1b')
            main.$var2aDiv = main.$co.find('#var2a')
            main.$var2bDiv = main.$co.find('#var2b')

            // svgs
            if(main.position1 === 1){
				main.$shape1a = main.$var1aDiv.find('[name="'+main.var1b+'"]')
				main.$shape1b = main.$var1bDiv.find('[name="'+main.var1a+'"]')
			}else{
				main.$shape1a = main.$var1aDiv.find('[name="'+main.var1a+'"]')
				main.$shape1b = main.$var1bDiv.find('[name="'+main.var1b+'"]')
			}

			if(main.position2 === 1){
				main.$shape2a = main.$var2aDiv.find('[name="'+main.var2b+'"]')
				main.$shape2b = main.$var2bDiv.find('[name="'+main.var2a+'"]')
                main.$outcomeA = main.$var2_outcome.find('[name="'+main.var2b+'"]')
                main.$outcomeB = main.$var2_outcome.find('[name="'+main.var2a+'"]')

                main.$var2a_Click.children('img').attr('src', '/static/images/good.png')
                main.$var2b_Click.children('img').attr('src', '/static/images/bad.png')
			}else{
				main.$shape2a = main.$var2aDiv.find('[name="'+main.var2a+'"]')
				main.$shape2b = main.$var2bDiv.find('[name="'+main.var2b+'"]')
                main.$outcomeA = main.$var2_outcome.find('[name="'+main.var2a+'"]')
                main.$outcomeB = main.$var2_outcome.find('[name="'+main.var2b+'"]')
			}



        },

        render: function(stage){
            // This function hides and shows things as appropriate.
            // This should be the only function that interacts with the visual elements of the page.
            // The 'stage' argument refers to progress within a trial.

            if(main.condition == 'monetary'){
                main.$storyDiv.hide()
                main.$monetaryDiv.show()
            }else{
                main.$monetaryDiv.hide()
                main.$storyDiv.show()
            }

            if(main.condition == 'story'){
                main.$outcomePercentageSpan.hide()
            }


            main.$var1a_Spans.text(String(main.var1a))
            main.$var1b_Spans.text(String(main.var1b))
            main.$var2a_Spans.text(String(main.var2a))
            main.$var2b_Spans.text(String(main.var2b))

            main.$shape1a.show()
            main.$shape1b.show()
            main.$shape2a.show()
            main.$shape2b.show()

            main.$leftDrug.attr('src', main.var1a_img_src)
            main.$rightDrug.attr('src', main.var1b_img_src)


            if(stage == 'reset'){ // new trial
                ////// console.log('render reset')
                // Patient Number

                // remove borders from prev trial
                main.$patientNumber.text(main.trialNumber+1)
                main.removeBorder(main.$var1a)
                main.removeBorder(main.$var1b)
                main.removeBorder(main.$var2a_Click)
                main.removeBorder(main.$var2b_Click)

                // effect div
                main.$v2_Prompt.css('opacity', '1.0')
                main.$var2a_Click.css('opacity', '1.0')
                main.$var2b_Click.css('opacity', '1.0')



                // cause div
                main.$causeDiv.css('opacity', '0.2')
                main.$var1a.css('opacity', '1.0')
                main.$var1b.css('opacity', '1.0')
                main.$v1_Prompt.css('opacity', '1.0')
                main.$feedbackDiv.css('visibility', 'hidden')
                main.$feedbackButtonDiv.css('visibility', 'hidden')

                // SLIDERS
                // main.$leftRange.css('opacity', '1.0')
                // main.$rightRange.css('opacity', '1.0')

                console.log(main.paradigmData[main.trialNumber])
                if(main.paradigmData[main.trialNumber] > 0){ // if paradigmData = 1 (rare), it's the left value, unless position2 = 1
                    main.$outcomeB.hide()
                    main.$outcomeA.show()
                    $('#var2_feedback').text(main.var2a)
                    main.$patientImpact.text('+'+main.paradigmData[main.trialNumber]+ ' cents!')
                    $('#var2_outcome').children('img').attr('src', '/static/images/good.png')
                    // main.$ineffectiveEmoji.hide()
                    // main.$effectiveEmoji.show()

                }else{
                    main.$outcomeA.hide()
                    main.$outcomeB.show()
                    $('#var2_feedback').text(main.var2b)
                    main.$patientImpact.text(main.paradigmData[main.trialNumber]+' cents!')
                    $('#var2_outcome').children('img').attr('src', '/static/images/bad.png')
                    // main.$effectiveEmoji.hide()
                    // main.$ineffectiveEmoji.show()


                }
                // outcome description
                if(main.frequency2 === 0){
                    // If main.frequency2 == 0, the left side is common (data[trialnumber] == 0)
                    if(main.position2 === 0){ // if position2 is 0, the left side is bad
                        if(main.paradigmData[main.trialNumber] === 0){ // common
                            main.$outcomeSpans.text('BAD')
                            main.$outcomePercentageSpan.text('-6 cents!')
                        }else{ // rare
                            main.$outcomeSpans.text('GOOD')
                            main.$outcomePercentageSpan.text('+6 cents!')
                        }
                    }else if(main.position2 === 1){
                        // f2 = 0, p2 = 1
                        if(main.paradigmData[main.trialNumber] === 0){ // common
                            main.$outcomeSpans.text('GOOD')
                            main.$outcomePercentageSpan.text('+6 cents!')
                        }else{ // rare
                            main.$outcomeSpans.text('BAD')
                            main.$outcomePercentageSpan.text('-6 cents!')
                        }

                    }
                }else if(main.frequency2 === 1){
                    // f2 = 1, p2 = 0
                    if(main.position2 === 0){ // if position2 is 0, the left side is bad
                        if(main.paradigmData[main.trialNumber] === 0){ // common
                            main.$outcomeSpans.text('GOOD')
                            main.$outcomePercentageSpan.text('+6 cents!')
                        }else{ // rare
                            main.$outcomeSpans.text('BAD')
                            main.$outcomePercentageSpan.text('-6 cents!')
                        }
                    }else if(main.position2 === 1){
                        // f2 = 1, p2 = 1
                        if(main.paradigmData[main.trialNumber] === 0){ // common
                            main.$outcomeSpans.text('BAD')
                            main.$outcomePercentageSpan.text('-6 cents!')
                        }else{ // rare
                            main.$outcomeSpans.text('GOOD')
                            main.$outcomePercentageSpan.text('+6 cents!')
                        }

                    }
                }

                main.$co.show()

            }else if(stage == 'guess'){

                ////// console.log('render guess')

                if(main.paradigmData[main.trialNumber] > 0){ // if effective
                    main.$var2b_Click.css('opacity', '0.2')
                    main.insertBorder(main.$var2a_Click)
                }else{
                    main.$var2a_Click.css('opacity', '0.2')
                    main.insertBorder(main.$var2b_Click)
                }
                main.$v2_Prompt.css('opacity', '0.2')

                // // kind of sloppy, these should probably just be their own div
                // main.$rangeLeft.css('opacity', '0.2')
                // main.$rangeRight.css('opacity', '0.2')

                main.$causeDiv.css('opacity', '1.0')






            }else if(stage == 'feedback'){
                ////// console.log('render feedback')
                main.$v1_Prompt.css('opacity', '0.25')
                // main.$leftRange.css('opacity', '1.0')
                // main.$rightRange.css('opacity', '1.0')
                // opacity to .25 for the incorrect answer
                if(main.v1_Data[main.trialNumber] == 0){ // 0 is A
                    main.$feedbackDrugName.text(main.var1a)
                    main.$var1b.css('opacity', '0.25')

                    // render borders
                    main.insertBorder(main.$var1a)


                    // feedback text
                    if(main.guesses[main.guesses.length-1] == 'A'){ // correctly guess A
                        main.$feedbackDiv.html('Correct!<br>+3 cents!')

                    }else{ // incorrectly guess B
                        main.$feedbackDiv.html('Incorrect!')
                    }

                }else{
                    main.$feedbackDrugName.text(main.var1b)
                    main.$var1a.css('opacity', '0.25')

                    // render borders
                    main.insertBorder(main.$var1b)

                    // feedback text
                    if(main.guesses[main.guesses.length-1] == 'B'){
                        main.$feedbackDiv.html('Correct!<br>+3 cents!')
                    }else{
                        main.$feedbackDiv.html('Incorrect!')
                    }
                }
                main.$feedbackDiv.css('visibility', 'visible')

                // SLIDERS
                // main.$rangeLeft.css('opacity', '1.0')
                // main.$rangeRight.css('opacity', '1.0')

                // main.$treatmentBonusSpan.text(main.creditRender(main.assets))
                // main.$accuracyBonusSpan.text(main.creditRender(main.accuracyBonus))
                main.$totalBonusSpan.text(main.creditRender(main.accuracyBonus+main.assets))
                main.$feedbackButtonDiv.css('visibility', 'visible')

            }else if(stage == 'rating'){
                console.log('change rating now')
            }


            // main.$treatmentBonusSpan.text(main.creditRender(main.assets))
            // main.$accuracyBonusSpan.text(main.creditRender(main.accuracyBonus))
            main.$totalBonusSpan.text(main.creditRender(main.accuracyBonus+main.assets))




        },

        creditRender: function(credits){
            // this function takes a number in cents and converts it to dollars

            // main.creditRender(6) -> 0.06
            // main.creditRender(100) -> 1.00

            // display credits div
            if(credits % 100 == 0){
                var displayCredits = String(credits/100) + '.00';
            }else if(credits %10 == 0){
                displayCredits = String(credits/100) +'0';
            }else{
                displayCredits = credits/100;
            }
            return(displayCredits);
            // $creditSpan.html(displayCredits);
        },

        bindEvents: function(stage){
            // this function specifies which objects are "listening" for events to happen at which times.

            if(stage == 0){
                main.$var2a_Click.unbind().on('click', main.var2a_Click)
                main.$var2b_Click.unbind().on('click', main.var2b_Click)
            }else if(stage == 1){
                main.$var2a_Click.unbind()
                main.$var2b_Click.unbind()
                main.$var1a.unbind().on('click', main.var1a_Function)
                main.$var1b.unbind().on('click', main.var1b_Function)
            }else{
                main.$var1a.unbind()
                main.$var1b.unbind()

            }

            main.$feedbackButton.unbind().on('click', main.newTrial)



            main.bound = [
                main.$var1a,
                main.$var1b,
                main.$var2a_Click,
                main.$var2b_Click
            ]

        },

        unbindEvents: function(){
            main.bound.forEach(function(obj){
                obj.unbind()
            })

            // main.$leftRange.prop('disabled', true)
            // main.$rightRange.prop('disabled', true)
            //
            // // (bad form to correct this here...)
            // main.$leftRange.css('opacity', '1.0')
            // main.$rightRange.css('opacity', '1.0')
        },


        var2a_Click: function(){
            // this function fires when they click the left div
            // if paradigmData = 1 (rare), it's the left value, unless position2 = 1
            if(main.paradigmData[main.trialNumber] === 1){
                main.bindEvents(1)
                main.render('guess')
            }else{
                main.attentionFails += 1
                if(main.condition == 'monetary'){
                    alertMessage = 'Please click to indicate that Shape 1 is a '+main.var2b
                }

                alert(alertMessage)
            }
        },

        var2b_Click: function(){
            // this function fires when they click the right div
            // if paradigmData = 0 (common), it's the right value, unless position2 = 1
            if(main.paradigmData[main.trialNumber] === 0){
                main.bindEvents(1)
                main.render('guess')
            }else{
                main.attentionFails += 1

                if(main.condition == 'monetary'){
                    alertMessage = 'Please click to indicate that Shape 1 is a '+main.var2a
                }else{
                    alertMessage = 'Please click to indicate that the patient\'s outcome was '+main.var2a
                }

                alert(alertMessage)

            }
        },

        newTrial: function(){
            // this function fires when they click the feedback button ('next' button)
            // if the scenario is over, it goes to the next page, otherwise it resets everything.
            main.sendAjax()
            if(main.trialNumber >= main.lengthOfData-1){
                main.unbindEvents()
                main.$co.hide()
                test.init()
            }else{
                // new trial:
                console.log("NEW TRIAL")
                main.trialNumber += 1


                if(main.valence == 'rare-positive'){
                    if(main.paradigmData[main.trialNumber] === 0){ // common outcome
                        main.assets -= main.rewardAmount
                    }else{
                        main.assets += main.rewardAmount
                    }
                }else if(main.valence == 'rare-negative'){
                    if(main.paradigmData[main.trialNumber] === 0){ // common outcome
                        main.assets += main.rewardAmount
                    }else{
                        main.assets -= main.rewardAmount
                    }
                }

                main.render('reset')
                main.getTrialStartTime()
                main.bindEvents(0)
                main.attentionFails = 0
            }
        },

        getTrialStartTime: function(){
            // does what it says on the box

            var trialDate = new Date()
            main.trialStartTime = trialDate.getTime()
        },

        sendAjax: function(){
            // this function sends data to the server without re-loading the page
            // it fires as part of main.feedback() after they click one of the pills

            // trial time
            trialDate = new Date()
            trialTime = trialDate.getTime()
            time = trialTime-main.trialStartTime
            main.$timeInput.val(time)

            main.$trialNumberInput.val(main.trialNumber)
            main.$reloadsInput.val(main.reloads)
            // number of attention fails on this trial
            main.$attentionFailsInput.val(main.attentionFails)

            // trial number
            main.$trialInput.val(main.trialNumber+1)

            // guess
            main.$guessInput.val(main.guesses[main.guesses.length-1])

            // correct
            if(main.v1_Data[main.trialNumber] == 0){
                main.$correctInput.val('A') // 0 is A
            }else{
                main.$correctInput.val('B')
            }

            // bonus total
            var bonus = main.accuracyBonus + main.assets
            $('#runningBonusInput').val(bonus)

            // profit impact
            main.$profitImpactInput.val(main.paradigmData[main.trialNumber])


            // // send to back end with ajax
            // $.ajax({
            //  url:"/ajax",
            //  data: main.$dataform.serialize(),
            //  dataType: 'json',
            //  type: "POST",
            //  cache: false,
            //  // error: function() {alert("Error")},
            //  // success: function() {alert("Success")}
            // });
        },

        var1a_Function: function(){
            // this function is bound to the pill on the left

            main.guesses.push('A')
            main.feedback()
        },

        var1b_Function: function(){
            // this function is bound to the pill on the right

            main.guesses.push('B')
            main.feedback()
        },

        feedback: function(){
            // this function runs after they make a pill guess
            // it does a few things:
                // unbinds the clicking events except for the 'next' button (feedbackButton)
                // scores their answer
                // renders feedback (and the button to continue)
                // sends their guesses to the server

            // temporarily suspend event binding for Drug A and B
            main.bindEvents(2)


            // score answer
            if(main.guesses[main.guesses.length-1] == 'A' & main.v1_Data[main.trialNumber] == 0){
                // correct
                main.accuracyBonus += main.accuracyBonusAmt
            }else if(main.guesses[main.guesses.length-1] == 'B' & main.v1_Data[main.trialNumber] == 1){
                // also correct
                main.accuracyBonus += main.accuracyBonusAmt
            }

            main.render('feedback')



        },

        mySubmit: function(){

            // $('#submitForm').submit()
        },

        startTimer: function(){
            start = new Date();
            return start.getTime();
        },

        insertBorder: function(object){
            object.css('border', '5px solid grey')
            object.css('-moz-border-radius', '20px')
            object.css('border-radius', '15px')
        },

        removeBorder: function(object){
            // doesn't really remove the border, because that creates weird visual jumps.
            // instead makes the border the same color as a bootstrap well

            object.css('border', '5px solid #F5F5F5')
        }

    }




    var text = {
        positiveOutcome: 'GOOD',
        negativeOutcome: 'BAD'

    }




    main.init()







// })
 </script>
{% endblock %}
